/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

header {
  display: flex;
  align-items: center;
  width: 23.4375rem;
  height: 48px;
  margin-top: 30px;
  margin-bottom: 20px;
}

header a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  padding-left: 5%;
  text-decoration: none;
}

nav {
  margin-left: 65%;
}

.first {
  width: 23.4375rem;
  height: 604px;
  background-image: url("./images/header-shapes\mobile.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first h1 {
  width: 327px;
  height: 150px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-left: 5%;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-top: -10%;
}

.first p {
  width: 340px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 5%;
  margin-top: -10%;
}

.first a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-left: 5%;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-left: -6%;
  margin-top: 5%;
  list-style: none;
}

.icons img {
  width: 20px;
  height: 20px;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.works {
  display: grid;
  justify-items: center;

  /* align-items: flex-start; */
  width: 23.4375rem;
  height: 2888px;
  background: #f7f7f9;
}

.cards {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 327px;
  height: 600px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;

  /* margin-bottom: 300px; */
}

#cardfirst {
  margin-top: 114px;
}

#cardsecond {
  margin-top: -100px;
}

#cardthird {
  margin-top: -100px;
}

#cardfourth {
  margin-top: -100px;
  margin-bottom: -60px;
}

.cards .left-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.cards h1 {
  font-family: 'Poppins';
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.cards p {
  font-family: 'Poppins';
}

.cards ul {
  display: flex;
  list-style: none;
  margin-left: -14%;
  gap: 5px;
}

.cards .see {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  color: #396df2;
  font-family: 'Poppins';
  width: 126px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 23.4375rem;
  height: 1263px;
  font-family: 'Poppins';
  margin-top: 4%;
  margin-left: 1.5%;
}

.about h1 {
  font-size: 2.5rem;
}

.about p {
  margin-top: -30px;
  font-size: 16px;
  width: 327px;
}

.about a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-left: 5%;
  text-decoration: none;
  margin-left: -4%;
}

.icons2 {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-left: -10%;
  margin-top: 5%;
  list-style: none;
}

.about .get {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  font-family: 'Poppins';
}

#wordlanguages {
  margin-bottom: 30px;
}

.languages ul {
  margin-left: -10%;
  list-style: none;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -8%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
}

.details {
  margin-bottom: 50px;
}

.frameworks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  margin-right: 80px;
}

#contact {
  background-image: url("./images/shapes3contact.png"), url("./images/Contact.png");
  background-repeat: no-repeat;

  /* background-size: contain; */
  background-position-x: right;
  background-position-y: center;
  height: 779px;
  width: 375px;
  margin-top: -250px;
  font-family: 'Poppins';
}

#contacttext {
  position: absolute;
  text-align: center;
  margin-left: 25px;
  margin-top: 90px;
  width: 327px;
  height: 48px;
}

#contacttext h1 {
  font-size: 40px;
  color: #fff;
}

#contacttext p {
  font-size: 20px;
  color: #ebebff;
}
